<header>
  <div class="title"><b>Federico Sossai</b></div>
  <p>4<sup>th</sup> year PhD student @
    <a href="https://www.mccormick.northwestern.edu/computer-science/research/areas/systems-networking.html">
      NU
    </a>
  </p>

  <p class="link">
    <a href="http://github.com/fsossai">
      GitHub
      <img src="/assets/img/github.png" class="link-img tilting"/>
    </a>
  </p>
  <p class="link">
    <a href="https://scholar.google.com/citations?user=ZYN-FTUAAAAJ">
      Google Scholar
      <img src="/assets/img/scholar.png" class="link-img tilting"/>
    </a>
  </p>
  <p class="link">
    <a href="http://linkedin.com/in/federico-sossai">
      LinkedIn
      <img src="/assets/img/linkedin.png" class="link-img tilting"/>
    </a>
  </p>
</header>
