<style>
</style>

{% assign me = "<strong>F Sossai</strong>" %}

<div class="papers">

2026 <strong>CGO</strong><br>
<table>
  <tr>
    <td>
      Y Su, B Homerding, H Gao, {{ me }}, Y Chon, DI August, S Campanoni<br>
      <a href="https://www.conference-publishing.com/download.php?Event=CGO26MAIN&Paper=8cbbbdc0951abbb68232ad7a1efe7f&Version=preprint">
        The Parallel-Semantics Program Dependence Graph for Parallel Optimization
      </a>
    </td>
  </tr>
</table>

2024 <strong>SC</strong><br>
<table>
  <tr>
    <td>
      J Giordani, Z Xu, E Colby, A Ning, AR Godala, I Chaturvedi, S Zhu,
      Y Chon, G Chan, Z Tan, G Collier, JD Halverson, EA Deiana, J Liang,
      {{ me }}, Y Su, A Patel, B Pham, N Greiner, S Campanoni, DI August<br>
      <a href="https://augustning.com/assets/papers/computing-trends-sc-2024.pdf">
        Revisiting Computation for Research: Practices and Trends
      </a>
    </td>
  </tr>
</table>

2023 <strong>CGO</strong><br>
<table>
  <tr>
    <td>
      T McMichen, N Greiner, P Zhong, {{ me }}, A Patel, S Campanoni<br>
      <a href="https://par.nsf.gov/servlets/purl/10525512">
        Representing Data Collections in an SSA Form
      </a>
    </td>
  </tr>
</table>

2023 <strong>ACAT</strong><br>
<table>
  <tr>
    <td>
      S An, L Moneta, S Sengupta, A Hamdan, {{ me }}, A Saxena<br>
      <a href="https://iopscience.iop.org/article/10.1088/1742-6596/2438/1/012013/pdf">
        C++ Code Generation for Fast Inference of Deep Learning Models in ROOT / TMVA
      </a>
    </td>
  </tr>
</table>

</div>
