<style>
</style>

{% assign me = "<strong>F Sossai</strong>" %}

<div class="papers">

2023 <strong>CGO</strong><br>
<table>
  <tr>
    <td>
      T McMichen, N Greiner, P Zhong, {{ me }}, A Patel, S Campanoni<br>
      <a href="https://mcmichen.cc/files/MEMOIR_CGO_2024.pdf">
        Representing Data Collections in an SSA Form
      </a>
    </td>
  </tr>
</table>

2023 <strong>ACAT</strong><br>
<table class="papers">
  <tr>
    <td>
      S An, L Moneta, S Sengupta, A Hamdan, {{ me }}, A Saxena<br>
      <a href="https://iopscience.iop.org/article/10.1088/1742-6596/2438/1/012013/pdf">
        C++ Code Generation for Fast Inference of Deep Learning Models in ROOT/TMVA
      </a>
    </td>
  </tr>
</table>

</div>
