<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>&#x1F918</text></svg>">
    <!-- <link rel="icon" type="image/png" href="/assets/img/favicon-32x32.png"> -->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <!-- <div class="title"><span class="fancy">F</span>ederico <span class="fancy">S</span>ossai</div> -->
        <div class="fancy title">Federico Sossai</div>
        <p>2<sup>nd</sup> year PhD student @
          <a href="https://www.mccormick.northwestern.edu/computer-science/research/areas/systems-networking.html">
            NU
          </a>
        </p>

        <img src="{{site.logo | relative_url}}" alt="Logo"/>

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        <p class="link">
          <a href="http://github.com/fsossai">
            GitHub
            <img src="/assets/img/github.png"/>
          </a>
        </p>
        <p class="link">
          <a href="https://scholar.google.com/citations?user=ZYN-FTUAAAAJ">
            Google Scholar
            <img src="/assets/img/scholar.png"/>
          </a>
        </p>
        <p class="link">
          <a href="http://linkedin.com/in/federico-sossai">
            LinkedIn
            <img src="/assets/img/linkedin.png"/>
          </a>
        </p>
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <!-- <p><small>Text</small></p> > -->
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
