body {
  font-family: Arial, sans-serif;
  height: 100%;
  background-image: url('crumpled.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

td, th {
  border: 0px solid black;
  text-align: center;
  vertical-align: middle;
}

#help {
  color: #666;
}

#question {
  font-size: 6rem;
}

#answer {
  font-size: 4rem;
}

#description {
  font-size: 2rem;
}

#settings, #help, #main {
  height: 30%;
  padding-top: 1%;
  padding-bottom: 1%;
}

table {
  width: 100%;
  table-layout: fixed;
}

#settings, #help {
  color: #666;
}

input {
  border-radius: 10px;
  border: 2px solid #ccc;
  color: #666;
}

#mode, #charset, #rank-min, #rank-max {
  font-size: 2rem;
  text-align: center;
}

#question, #answer, #description {
  height: 30%;
  padding-top: 1%;
  align-items: center;
  text-align: center;
  justify-content: center;
}
